language: python
python: 3.7
install: "pip3 install flake8 mypy PyYAML psycopg2 SQLAlchemy testing.postgresql sqlalchemy-stubs paramiko freezegun docker coverage"
script:
  - flake8 src/ --ignore F821 --max-line-length=120
  - ./.travis/check_init_py.sh src/
  - MYPYPATH=$(pwd)/src mypy -p ja --no-strict-optional --strict --config-file $(pwd)/mypy.ini
  - MYPYPATH=$(pwd)/src mypy -p test --no-strict-optional --strict
  - cd src && coverage run --source=ja -m unittest discover -v -s test -p '*.py'
  - coverage report -m
    #  - cd src && ./setup.py test
services:
  - docker
